:root {
  --primary: #ffffff;
  --second: #70e000;
  --font1st: #3a3a3a;
  --font2nd: #666666;
}

@font-face {
  font-family: tajawal;
  src: url(Tajawal-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: white;
}

.img-logo {
  width: 100px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.img-banner {
  position: absolute;
  width: 40%;
}

.heading-banner {
  position: relative;
  margin-left: 43%;
  padding-top: 150px;
}

.h1-banner {
  font-family: tajawal;
  color: var(--font1st);
  font-size: 60px;
}

.text {
  font-family: "open sans";
  color: var(--font2nd);
  font-size: 18px;
  line-height: 191%;
  padding-top: 40px;
  margin-bottom: 50px;
}

.btn-primary {
  padding: 12px 35px;
  background-color: var(--second);
  border-radius: 30px;
  font-family: "open sans";
  color: var(--font1st);
  font-weight: bold;
  box-shadow: 0 15px 30px #70e0009a;
  transition: 0.3s;
}

.btn-primary:hover {
  box-shadow: none;
}

.img-tomat {
  position: absolute;
  right: 80px;
  top: 100px;
}

#section-1 {
  margin-top: 250px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.text-sect1 {
  padding-top: 50px;
}

.h2-sect {
  font-family: tajawal;
  color: var(--font1st);
  font-size: 44px;
}

.img-farmer {
  width: 100%;
}

.my-hr {
  border: none;
  background-color: var(--second);
  width: 150px;
  height: 5px;
}

#section-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 150px;
}

.text-sect2 {
  margin-top: 80px;
}

.img-tomato1 {
  position: absolute;
  right: 100px;
  top: 350px;
}

.img-download {
  margin-top: 50px;
}

#section-3 {
  margin-top: 80px;
  width: 75%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.sect3-container {
  display: grid;
  grid-template-columns: 31% 32% 31%;
  grid-gap: 2%;
  margin-top: 50px;
}

.card-container {
  border: 1px solid var(--second);
  border-radius: 50px;
  padding: 40px;
  padding-bottom: 120px;
}

.text-card {
  font-family: "open sans";
  color: var(--font2nd);
  font-size: 14px;
  margin-top: 20px;
  line-height: 191%;
}

.img-card {
  position: relative;
  margin: -40px 90px;
}

.alt-card {
  font-family: "open sans";
  font-size: 12px;
  font-style: italic;
  color: var(--font2nd);
}

#section-4 {
  margin-top: 150px;
  background-color: #f5f5f5;
  padding: 40px 0;
}

.sect4-container {
  display: grid;
  width: 70%;
  grid-template-columns: 40% 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  grid-gap: 30px;
}

.form-contact {
  margin-top: 50px;
}

.input {
  padding: 10px 15px;
  margin: 15px;
}

.btn-contact {
  background-color: var(--second);
  padding: 10px 30px;
  margin: 18px 15px;
  border: none;
}

#footer {
  background-color: #efefef;
  padding: 40px 0;
}

.footer-container {
  width: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer-2 {
  padding: 30px 0;
}

.footer-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9pt;
  padding: 8px 0;
  color: var(--font2nd);
}

.footer-copyright {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8pt;
  padding: 10px;
  color: var(--font1st);
}

@media only screen and (max-width: 920px) {
  .img-banner {
    width: 45%;
    top: 10%;
  }

  .wrapper {
    width: 100%;
  }

  .img-mockup {
    width: 80%;
  }

  .img-tomato1 {
    display: none;
  }

  .text-sect2 {
    margin: 0;
  }

  .img-download {
    width: 80%;
  }

  #section-3 {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  #header {
    position: relative;
    display: block;
  }

  .img-logo {
    position: relative;
    left: 10px;
    top: 15px;
  }

  .img-banner {
    visibility: hidden;
  }

  .img-tomat {
    position: absolute;
    right: 2%;
    top: 18%;
  }

  .heading-banner {
    position: relative;
    margin: 0;
    padding: 50px 0;
  }

  .h1-banner {
    font-size: 58px;
  }

  .text {
    font-size: 14px;
  }

  #section-1 {
    display: block;
    margin-top: 50px;
    width: 100%;
  }

  #section-2 {
    display: block;
    width: 100%;
    margin-top: 100px;
  }

  .img-mockup {
    width: 100%;
  }

  .h2-sect {
    font-size: 36px;
  }

  .img-download {
    width: 100%;
  }

  #section-3 {
    width: 100%;
    margin-top: 90px;
  }

  .sect3-container {
    display: block;
  }

  .card-container {
    margin-top: 80px;
  }

  .img-card {
    margin: -60px 90px;
  }

  .sect4-container {
    display: block;
    width: 90%;
    padding: 0;
  }

  .img-mail {
    display: none;
  }

  .input {
    width: 100%;
    margin: 15px 0;
    padding: 10px 5px;
  }

  .form-contact {
    margin: 20px 0;
  }

  .footer-container {
    display: block;
    width: 90%;
  }

  .footer-2 {
    margin: 40px 0 0 0;
  }
}
